@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Schoolbell&display=swap');
@import "tailwindcss";


/* Dancing script font theme */
@theme {
    --font-dancing: "Dancing Script", cursive;
    --font-uaccs: "Just Me Again Down Here", cursive;
    --font-schoolbell: "Schoolbell", cursive;
    --font-nunito: "Nunito", sans-serif;
    --color-uaccs_green: #C4D65E;
    --color-uaccs_blue: #4A8A9A;
    --color-uaccs_orange: #E8A562;
    --shadow-custom_shadow: 6px 6px 0px;
}